<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/beans_2_0.xsd"
version="2.0" bean-discovery-mode="all">

    <decorators>
        <class>de.example.swt.security.UserDAOScryptDecorator</class>

    </decorators>

    <interceptors>
        <class>de.example.swt.service.LogInterceptor</class>
        <class>de.example.swt.service.ShiroSecuredInterceptor</class>


    </interceptors>
</beans>
